<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <% if (!locals.user) { %>
      <form method="GET" action="/register">
        <button>Register.....</button>
      </form>
      <form method="GET" action="/login">
        <button>login</button>
      </form>
      <% } else { %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div>
           <%= locals.user.email %>
        </div>
        <form method="POST" action="/logout">
          <button class="btn btn-primary" >Logout</button>
        </form>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/urls">My URLs</a>
            <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
          </div>
        </div>
        <% } %>
  </nav>
</header>